
*{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    box-sizing: border-box;
}
h1{
       
    text-align: center;
}

body{
    background-image: url(content/background.png);
    background-size: cover;
    background-position: top;
    background-repeat: no-repeat;
    background-color: rgb(31, 12, 37);
    
}
main{
    width: 555px;
    height: 526px;
    margin: -5px auto 0;
    padding: 20px;
    background-color: #ffffff;
    border-radius: 30px 30px 30px 30px;
    border: rgb(20, 22, 54) 1.5px inset;
    box-shadow: 2px 2px 3px rgba(14, 1, 11, 0.445);
    position: static;
}
.campoInput{
    font-family: monospace ;
    font-size: 1.3em;
    height: 3.5em;
    margin-bottom: 15px;
}
input{
    display: block;
    width: 100%;
    margin-top: 5px;
    padding: 6px;
}
.botaoPrincipal:hover{
    cursor: pointer;
    text-shadow: 0 0 4px rgba(255, 255, 255, 0.473);
    background-color: #ee663d;
}
.botaoPrincipal{
    width: 100%;
    height: 2.2em;
    font-size: 1em;
    margin-bottom: 5px;
    background-color: #E7452F;
    color: white;
    border-radius: 3px;
}
.botaoPrincipal:active{
    background-color: #d12424;
    color: rgb(199, 199, 199);
}
.destaque{
    font-weight: bold;
    font-size: 1.05em;
}
.green{
    color: rgb(14, 139, 14);
}
.red{
    color: rgb(194, 17, 17);
}

.container-barra{
   color:black;
   width:20vw;
}
.image_info{
    height: 1.25em;
    cursor: pointer;
    display: inline-block;
    margin-right: auto;
}

.box_s{
    display: none;
    background-color: rgb(178, 198, 236);
    width: 380px;
    bottom: 20px;
    right: 13px;
    position: absolute;
    color:rgb(16, 15, 56);
    border-radius: 15px;
    padding: 20px;
    border:rgba(0, 0, 0, 0.658) 1.5px inset;
}
.pInfo{
    line-height: 1.5em;
}