@import url("https://fonts.googleapis.com/css2?family=Comfortaa&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");

:root {
  --colorSwap1: white;
  --colorSwap2: #1e1e1e;
}

* {
  list-style-type: none;
  margin: 0;
  border-collapse: collapse;
  box-sizing: border-box;
  list-style-position: inside;
  color: unset;
  text-decoration: none;
}

body {
  font-family: "Comfortaa", Verdana, Geneva, Tahoma, sans-serif;
  background: linear-gradient(
    120deg,
    #d32d2d 0%,
    #2958b6 45%,
    #2958b6 55%,
    #ffbc35 100%
  );
  background-size: cover;
  height: 100vh;
}

.Card_alerta {
  position: fixed;
  border-radius: 4px;
  padding: 10px;
  height: 50px;
  width: 250px;
  bottom: 90%;
  right: 10px;
  color: white;
  align-items: center;
}

.containerFull {
  width: 100vw;
  height: 100vh;
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
}

.containerFull main {
  background-color: var(--colorSwap1);
  display: flex;
  width: 81vw;
  height: 87vh;
  border-radius: 15px;
  overflow: hidden;
}

.sidebar {
  width: 26%;
  background-color: #1e1e1e;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  color: white;
}

.icon img {
  width: 100%;
}

.icon {
  display: inline-block;
  width: 30px;
}

.topSidebar {
  display: flex;
  margin: 20px 15px;
  height: 60px;
  border-radius: 11px;
  border: 1px solid white;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
}

.topSidebar .icon {
  width: 50px;
}

.topSidebar .userOptions img {
  width: 100%;
}

.userOptions {
  width: 14px;
}

.topSidebar h2 {
  font-size: 1.15em;
  font-weight: normal;
}

.midSidebar .listTitle h1 {
  font-weight: normal;
  font-size: 1.25em;
  text-transform: uppercase;
  display: inline;
}

.midSidebar .listTitle .icon {
  width: 37px;
}

.listTitle {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 10px;
}

.midSidebar ul {
  padding: 0;
}

.midSidebar li {
  padding: 7px 0 7px 44px;
  display: flex;
  align-items: center;
  font-size: 0.95em;
  cursor: pointer;
}

.midSidebar .selected {
  background-color: rgba(255, 255, 255, 0.096);
}

.midSidebar li .icon {
  margin-left: 15px;
}

.listLines {
  width: 100%;
  height: 6px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.listLines .line {
  width: 100%;
  height: 1px;
  background-color: white;
}

.bottomSidebar {
  display: flex;
  flex-direction: column;
  padding: 5px;
}

.version {
  color: rgba(255, 255, 255, 0.637);
  text-align: end;
  font-size: 0.9em;
  font-family: monospace;
}

.bottomSidebar .logo {
  width: 43%;
  margin: auto;
}

/* CHARTS */
.dashboard {
  width: 74%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.dashboardTop1 {
  display: flex;
  justify-content: space-evenly;
  height: 55%;
  align-items: center;
}

.chart01 {
  width: 60%;
  text-align: center;
}

.chart02 {
  width: 30%;
  align-items: center;
  font-size: 15px;
  text-align: center;
}

.chart03 {
  width: 80%;
  height: 30%;
  align-self: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}

.chart04 {
  height: 50%;
  width: 100%;
  display: flex;
  align-items: end;
  justify-content: center;
}


/* Renda */

.dashboard2 {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

.dashboardTop3 {
  margin: 40px auto;
  display: flex;
  justify-content: space-evenly;
  width: 100%;
}

.chart07,
.chart08,
.chart09 {
  width: 220px;
  text-align: center;
}

.dashboardMid3 {
  display: flex;
  justify-content: space-evenly;
}

.dashboardMid3 .chart10 {
  width: 60%;
  align-items: center;
}
.chart10{
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.dashboardMid3 table {
  background-color: rgb(218, 232, 243);
  font-size: 0.8em;
  font-family: Arial, Helvetica, sans-serif;
  width: 200px;
}

.dashboardMid3 h3 {
  text-align: center;
}

table th {
  background-color: rgba(116, 241, 235, 0.459);
}

table th,
table td {
  padding: 3px;
  border: 1px solid #1e1e1e67;
  
}
.dashDescription{
  display: flex;
  flex-direction: column;
}

.config {
  width: 100%;
  height: 90%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 8px;
  color: var(--colorSwap2);
}

.config img {
  border-radius: 50%;
}

.opções {
  display: flex;
  text-align: center;
  height: 100%;
  width: 30%;
  justify-content: space-between;
  flex-direction: column;
  text-align: center;
  align-items: center;
  margin-top: 20px;
}

.opções hr {
  width: 75%;
  height: 2px;
  border: var(--colorSwap2) solid 1px;
}

.opções .black {
  border: var(--colorSwap2) solid 1px;
}

.opções .white {
  border: var(--colorSwap1) solid 1px;
}

.opções h4 {
  margin-top: 20px;
}

.opções h3 {
  height: 50px;
}

.opc {
  display: flex;
  align-items: center;
}

.opc a {
  display: flex;
  align-items: center;
}

.opc h4 {
  margin-left: 10px;
}

.ngtv{
  background-color: #d32d2d;
  color: white;
}

/*Botão*/
.botao {
  height: 50px;
  width: 150px;
  border-radius: 35px;
  font-size: 15px;
  border: 0px;
  background-color: orange;
  font-size: large;
  cursor: pointer;
}

.opções2 {
  display: flex;
  text-align: center;
  height: 100%;
  width: 30%;
  justify-content: space-between;
  flex-direction: column;
  text-align: center;
  align-items: center;
  margin-top: 20px;
}

.opc2 {
  display: flex;
  align-items: center;
}

.opções2 hr {
  width: 75%;
  height: 2px;
  border: var(--colorSwap2) solid 1px;
}

.opções2 h4 {
  margin-top: 19px;
}
