@import url('https://fonts.googleapis.com/css2?family=Comfortaa&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

* {
    list-style-type: none;
    margin: 0;
    border-collapse: collapse;
    box-sizing: border-box;
    list-style-position: inside;
    color: unset;
    text-decoration: none;
}

body {
    display: flex;
    font-family: 'Comfortaa', Verdana, Geneva, Tahoma, sans-serif;
    background: linear-gradient(120deg, #D32D2D 0%, #2958b6 45%, #2958b6 55%, #ffbc35 100%);
    background-size: cover;
    height: 100vh;
}

.containerFull {
    width: 100vw;
    height: 100vh;
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
}

.containerGeral main {
    background-color: white;
    display: flex;
    width: 81vw;
    height: 87vh;
    border-radius: 15px;
    overflow: hidden;
    justify-content: center;
    
    margin-left: 100px;
    margin-top: 50px;
}

.sidebar {
    width: 26%;
    background-color: #1e1e1e;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: white;
}

.icon img {
    width: 100%;
}

.icon {
    display: inline-block;
    width: 30px;
}

.topSidebar {
    display: flex;
    margin: 20px 15px;
    height: 60px;
    border-radius: 11px;
    border: 1px solid white;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
}

.topSidebar .icon {
    width: 50px;
}

.topSidebar .userOptions img {
    width: 100%;
}

.userOptions {
    width: 14px;
}

.topSidebar h2 {
    font-size: 1.15em;
    font-weight: normal;
}

.midSidebar .listTitle h1 {
    font-weight: normal;
    font-size: 1.25em;
    text-transform: uppercase;
    display: inline;
}

.midSidebar .listTitle .icon {
    width: 37px;
}

.listTitle {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
}

.midSidebar ul {
    padding: 0;
}

.midSidebar li {
    padding: 7px 0 7px 44px;
    display: flex;
    align-items: center;
    font-size: 0.95em;
    cursor: pointer;
}

.midSidebar .selected {
    background-color: rgba(255, 255, 255, 0.096);
}

.midSidebar li .icon {
    margin-left: 15px;
}

.listLines {
    width: 100%;
    height: 6px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.listLines .line {
    width: 100%;
    height: 1px;
    background-color: white;
}

.bottomSidebar {
    display: flex;
    flex-direction: column;
    padding: 5px;
}

.version {
    color: rgba(255, 255, 255, 0.637);
    text-align: end;
    font-size: 0.9em;
    font-family: monospace;
}

.bottomSidebar .logo {
    width: 43%;
    margin: auto;
}


/* CHARTS */
.dashboard {
    width: 100%;
    height: 55%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 8px;
}
.chart1{
    justify-content: center;
    margin-top: 30px;
}
 /*Cards*/
main .whiteBoard .container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    justify-content: space-around;
}



.card2{
    width: 270px;
    height: 280px;
    background-color: rgb(226, 43, 43);
    border-radius: 20px;
    display: flex;
    margin-top: 10px;
    justify-content: right;
    align-items: center;
    flex-direction: column;
    margin-bottom: 20px;
    margin-right: 15px;
    box-shadow: 10px 5px 5px rgb(53, 53, 53);
}
.garrafa{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin-top: 5px;
    justify-content: center;
}
.texto2{
    color: aliceblue;
    justify-content: center;
    text-align: center;
    border-radius: 15px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    flex-direction: column;
    text-align: center;
    width: 150px;

}

.whiteBoard{
    width: 79%;
    height: 100%;
    overflow-y: scroll;
}
/* Tabela esteiras */
.container table{
    width: 96%;
    margin: 0 auto 50px auto;
    background-color: #cac9cf;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 0.9em;
}
.container table th, .container table td{
    padding: 5px;
    border: 1px solid rgb(153, 153, 153);
}
.container table th{
    border: 1px solid rgb(44, 44, 44);
    background-color: #777777;
}
.container table .center{
    text-align: center;
}
.container table .red{
    color: red;
}
.container table .green{
    color: green;
}

/* Filtro da tabela */
.whiteBoard .filtro{
    width: 96%;
    background-color: #1e1e1e;
    display: flex;
    margin: auto;
    padding: 4px;
    justify-content: space-between;
    align-items: center;
    color: white;
}
.filtro .search{
    background-color: white;
    display: flex;
    justify-content: space-between;
    border-radius: 18px;
}
.filtro .search input{
    margin-left: 15px;
    border: none;
}

.filtro button{
    height: 35px;
    width: 35px;
    border: none;
    background-color: gray;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.filtro button img{
    width: 20px;
}
.filtro input, .filtro select{
    height: 35px;
    border-radius: 5px;
}